.product-container {
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.images-show {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#product-large-image {
    width: 300px;
    border-radius: 1rem;
}

.thumbnail-images {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.thumbnail {
    border-radius: 0.5rem;
    width: 60px;
    cursor: pointer;
    transition: opacity 0.6s ease;
}

.thumbnail-images:hover > :not(:hover) {
    opacity: 0.4;
}

.description-product {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 40%;
    padding: 1rem;
}

#company {
    text-transform: uppercase;
    color: var( --orange);
    font-size: 0.9rem;
    font-weight: bold;
}


#product-title {
    font-size: 2rem;
}

#product-description {
    color: var(--grayish-blue);
    letter-spacing: 0.1rem;
    font-weight: 700;
    line-height: 150%;
    font-size: 0.9rem;
}

.price-and-discount {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#actual-price {
    font-size: 1.5rem;
    color: var(--dark-grayish-blue);
    font-weight: 600;
}

#old-price {
    color: var(--grayish-blue);
    text-decoration: line-through;
}

#discount {
    background-color: hsla(26, 100%, 55%, 0.2);
    color: var(--orange);
    font-size: 0.7rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

.cart-add-options {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.quantity-products {
    background-color: var(--light-grayish-blue);
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}

#quantity{
    font-size: 0.9rem;
}

.quantity-products button {
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

#add-cart {
    flex: 1;
    background-color: var(--orange);
    color: var(--white);
    border: none;
    padding: 0.7rem 0;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.9;

}

#add-cart img {
    width: 1rem;
    margin: 0 0.5rem;
}

#add-cart:hover {
    transform: scale(1.05);
    opacity: 1;
}

.navegate-btn-mobile {
    display: none;
}

@media screen and (max-width: 900px) {
    .product-container {
        flex-direction: column;
    }

    #product-large-image {
        width: 400px;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    .description-product {
        max-width: 400px;
    }

    .thumbnail-images {
        display: none;
    }
    
    .navegate-btn-mobile {
        display: flex;
        position: absolute;
        top: 40vh;
        width: 2rem;
        filter:drop-shadow(1px 1px 1rem black) ;
    }

    #left-btn-mobile {
        left: 0.5rem;
    }

    #right-btn-mobile {
        right: 0.5rem;
    }
}